
footer {
	background-color: $basecolor;
	color: white;
	width: 100%;
	height: 0;
	.top {
		background-color: $basecolor * 1.2;
		display: flex;
		justify-content: space-around;
		
		p, h2{
			margin: 0;
			padding: 1em;
		}

		.top-right, .top-left {
			
		}
	}
	.bottom {
		text-align: center;
	}
}

