.register-table, .login-table, .profile-table{
	width: 90%;
	max-width: 30em;
	margin: 0 auto;
	padding: 0;

	input, select {
		width: 100%;
	}
	input[type='button'] {
		margin-top: 0.5em;
		padding: 0.5em;
	}

}
.profile-table:first-child {
	width: 50%;
}
td:first-child {
	width: 25%;
}
@media screen and (min-width: 48em) {
	.login-table, .register-table, .profile-table {
		width: 75%;
	}
}
@media screen and (min-width: 60em) {
	.login-table, .register-table, .profile-table {
		width: 50%;
	}
}
