.register-table, .login-table {
	width: 90%;
	max-width: 30em;
	margin: 0 auto;
	padding: 0;
}
td:first-child {
	width: 25%;
}
@media screen and (min-width: 48em) {
	.login-table, .register-table {
		width: 75%;
	}
}
@media screen and (min-width: 60em) {
	.login-table, .register-table {
		width: 50%;
	}
}
