.forum-list-table, .forum-category-table {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
.post-content {
    word-break: break-all;
}
.thread-def{
	border-bottom: 1px solid black; 
}
.thread-def:last-child {
	border: 0;
}

/* Medium screens */
@media screen and (min-width: 48em) {
	.forum-list-table, .forum-category-table {
		width: 75%;
	}
}

/* Big screens */
@media screen and (min-width: 60em) {
	.forum-list-table, .forum-category-table {
		width: 50%;
	}
}