.register-table, .login-table, .profile-table, .user-table, .update-table, .user-image-table, .user-image-table, .social-link-table {
	width: 90%;
	max-width: 30em;
	margin: 0 auto;
	padding: 0;

	input, select {
		width: 100%;
	}

	input[type='button'] {
		margin-top: 0.5em;
		padding: 0.5em;
	}
}

.add-signature-table, .reply-table{
	width: 90%;
	margin: 0 auto;
}

.social-link-table {
	margin: 1.5em auto;
	input {
		width: 100%;
	}
}
.thread-list-table, .social-links{
	align: center;
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
.user-image {
	img {
		border: 2px solid black;
		border-radius: 50%;
		margin-right: 1em;
	}
}
.user-table, .profile-table{
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	thead {
		border: 2px solid black;
	}
	th {
		padding: 1em;
	}
}

.user-table:first-child, .profile-table:first-child {
	width: 50%;
}

td:first-child {
	width: 25%;
}

@media screen and (min-width: 48em) {
	.login-table, .register-table, .profile-table, .thread-list-table, .user-table, .social-link-table {
		width: 75%;
	}
	.social-link-table {
		input {
			width: 75%;
		}
		input[type='submit'] {
			width: 19%;
		}
	}
	.add-signature-table, .reply-table{
		width: 75%;
	}
}

@media screen and (min-width: 60em) {
	.login-table, .register-table, .profile-table, .thread-list-table, .user-table, .social-link-table {
		width: 50%;
	}
	.add-signature-table, .reply-table{
		width: 50%;
	}
}