.forum-list-table, .forum-category-table {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

.post-content {
    word-break: break-all;
}

.thread-def{
	border-bottom: 1px solid black; 
}

.thread-def:last-child {
	border: 0;
}

.forum-setup {
	border: 0.1em solid;
	border-color: $basecolor;
	
	td {
		
		a {
			padding-top: 0.5em;
			padding-bottom: 0.2em;
			padding-left: 1.2em;
		}
	}
}

.left-side {
	width: 90%;
	padding: 0;
}

.right-side {
	width: 10%;
	padding: 0;
	border: 0.1em solid;
	border-color: $basecolor;
}

.text-dec-Forum-Name {
	font-size: 85%;
	padding-left: 2.3em;
	padding-bottom: 0.5em;
}

.text-dec-Last-Post {
	font-size: 85%;
	padding-left: 1.5em;
	padding-bottom: 0.5em;
}

h1 {
	font-size: 110%;
	text-align: center;
	color: $basecolor;
}

h3 {
	margin: 0.5em;
}

/* Medium screens */
@media screen and (min-width: 48em) {
	.forum-list-table, .forum-category-table {
		width: 75%;
	}
}

/* Big screens */
@media screen and (min-width: 60em) {
	.forum-list-table, .forum-category-table {
		width: 50%;
	}
}