.forum-list-table, .forum-category-table, .add-category-table {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
.forum-list-table {
	
	h3 {
		margin: 0.5em;
	}
	margin-bottom: 2.3em;
}

.thread-table {
	width: 90%; 
	margin: 0 auto;
}

.post-content {
    word-break: break-all;
}

.thread-def{
	border-bottom: 1px solid black; 
}

.thread-def:last-child {
	border: 0;
}
.thread-reply-title, .thread-reply-button{
	width: 100%;
}

.forum-setup {
	border: 0.1em solid;
	border-color: $basecolor;
	
	.forum-link{
		padding-top: 0.5em;
		padding-bottom: 0.2em;
		margin: 0 auto;
	}
}

.left-side {
	width: 95%;
	font-size: 85%; 
	padding: 0;
}

.right-side {
	width: 10%;
	padding: 0;
	font-size: 90%;
	border: 0.1em solid;
	border-color: $basecolor;
}

.text-dec-Forum-Name {
	font-size: 85%;
	padding-bottom: 0.5em;
	margin-left: 0.8em;
	display: block;
}

.text-dec-Last-Post {
	font-size: 85%;
	margin-left: 0.8em;
	padding-bottom: 0.5em;

}

h1 {
	font-size: 110%;
	text-align: center;
	color: $basecolor;
}

.add-category-table {
	width: 100%;
	
	input {
		width: 100%;
	}
	
	textarea {
		width: 100%;
		resize: none;
	}
}

.add-thread-button, .add-thread-title {
	margin: 1em 0;
	width: 100%;
}

/* Medium screens */
@media screen and (min-width: 48em) {
	.forum-list-table, .forum-category-table, .thread-table, .add-category-table{
		width: 75%;
	}
}

/* Big screens */
@media screen and (min-width: 60em) {
	.forum-list-table, .forum-category-table, .thread-table, .add-category-table{
		width: 50%;
	}
}