header {
	background-color: #3f51b5;
	width: 100%;
	height: 0;
	
	a {
		margin: 0;
		padding: 1em 0.5em;
		color: white;
		display: block;
		font-size: 150%;
	}

	p {
		color: white;
	}

	.nav {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		li {
			margin: 0;
			display: inline-block;
		}
	}

	.nav-flex-left, .nav-flex-right {
		width: 50%;
	}

	.nav-flex-left {
		justify-content: flex-start;
	}

	.nav-flex-right {
		justify-content: flex-end;
	}

	.nav-left, .nav-right {
		width: auto;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		li {
			width: auto;
		}
	}

	.nav-right {
		justify-content: flex-end;
	}
	.nav-left {
		justify-content: flex-start;
	}
}