@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import 'header';
@import 'footer';
@import 'forum';
@import 'forms';

* {
	box-sizing: border-box;
	font-family: 'Droid Sans', sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: table;
	overflow-x: hidden;
}

.content-wrap {
	height: 100%;
}

.content-wrap, header, footer {
	display: table-row;
}

table {
	border-collapse: collapse;
}
a {
	color: #3f51b5;
}